<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>radioActive</title>
  </head>
  <body>
    <!--<div ng-app='app' ng-controller='mainCtrl'>
      <h1>Create new user</h1>
      <form name='userForm' ng-submit='addNew(userForm)'>

        <input placeholder='Name' ng-model='userForm.name'/>
        <input placeholder='Image Url' ng-model='userForm.url'/>
        <input placeholder='E-mail' ng-model='userForm.email' />
        <button type='submit'>Add New</button>
      </form>

      <ul class='User-list'>
        <li ng-repeat='foobar in users'>
          <avatar user='foobar' />
          <!--<div class='Avatar'>
            <img ng-src='{{user.avatarUrl}}' />
            <h4>{{user.name}}</h4>
          </div>
        </li>
      </ul>
    </div>-->
    <p>this is a paragraph</p>
    <ul class="playlist">
      
    </ul>
  

  </body>
</html>
